@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 70px 0;
    padding: 40px;
}

header-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
}

.create-main {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-weight: 400;
    color: #1d2636;
    font-size: 14px;
}

.create-section {
    display: flex;
    border-bottom: 1px solid #dbdae3;
    padding: 40px 0;
}

.create-section .icon {
    margin-right: 30px;
}

.create-section .icon i {
    font-size: 50px;
    color: #dbdae3;
}

.create-section .title {
    font-size: 30px;
    margin-bottom: 5px;
}


.input-group {
    margin-bottom: 10px;
    padding: 20px 0;
}

.input-group input{
    width: 100%;
    height: 50px;
    border: 1px solid #dbdae3;
    padding-top: 15px;
    padding-left: 10px;
}

.input-group input:focus,
.input-group .selections:focus {
    outline: #59595a;
}

.input-group label {
    color: #929296;
    font-size: 12px;
    display: block;
    z-index: 8;
    margin-top: -53px;
    padding: 10px;
}

.input-group .selections {
    width: 25%;
    height: 40px;
    border: 1px solid #dbdae3;
    font-size: 13px;
    padding: 10px;
    color: #1d2636;
    margin-right: 20px;
}

.radios {
    padding: 20px 0;
    width: 100%;
    display: flex;
}

.radio-group {
    margin-right: 15px;
    min-width: 20%;
}

.btn-radio {
    height: 0;
    z-index: -12;
    width: 0;
}

.radio-group label {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    z-index: 8;
    border: 1px solid #dbdae3;
    border-radius: 3px;
    padding: 10px 15px;
}

.active-radio label {
    border-color: rgb(17, 131, 68);
    color: rgb(17, 131, 68);
    background-color: rgba(24, 151, 224, 0.055);
}

.address-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address-form h2 {
    width: 100%;
    font-weight: 500;
    margin-top: 15px;
}

.address-form .input-group {
    width: 48%;
}