@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    margin-top: 64px;
}

header-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
}

.home-main {
    width: 80%;
    margin: 70px auto;
    padding: 40px ;
}

.create-main {
    max-width: 50%;
    padding: 0;
    font-weight: 400;
    color: #1d2636;
    font-size: 14px;
    margin: 70px auto;
}

.create-section {
    display: flex;
    border-bottom: 1px solid #dbdae3;
    padding: 40px 0;
}

.create-section .icon {
    margin-right: 30px;
}

.create-section .icon i {
    font-size: 50px;
    color: #dbdae3;
}

.create-section .title {
    font-size: 30px;
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 10px;
    padding: 20px 0;
}

.input-group input{
    width: 100%;
    height: 50px;
    border: 1px solid #dbdae3;
    padding-top: 15px;
    padding-left: 10px;
}

.input-group input:focus,
.input-group .selections:focus {
    outline: #59595a;
}

.input-group label {
    color: #929296;
    font-size: 12px;
    display: block;
    z-index: 8;
    margin-top: -53px;
    padding: 10px;
}

.input-group .selections {
    width: 25%;
    height: 40px;
    border: 1px solid #dbdae3;
    font-size: 13px;
    padding: 10px;
    color: #1d2636;
    margin-right: 20px;
}

.radios {
    padding: 20px 0;
    width: 100%;
    display: flex;
}

.radio-group {
    margin-right: 15px;
    min-width: 20%;
}

.btn-radio {
    height: 0;
    z-index: -12;
    width: 0;
}

.radio-group label {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    z-index: 8;
    border: 1px solid #dbdae3;
    border-radius: 3px;
    padding: 10px 15px;
}

.active-radio label {
    border-color: rgb(17, 131, 68);
    color: rgb(17, 131, 68);
    background-color: rgba(24, 151, 224, 0.055);
}

.address-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address-form h2 {
    width: 100%;
    font-weight: 500;
    margin-top: 15px;
}

.address-form .input-group {
    width: 48%;
}

.save-discard {
    padding: 15px 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    z-index: 12;
    background: #fff;
    border-top: 1px solid #dbdae3;
}

.btn {
    font-family: 'Roboto', sans-serif;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background: #db1634;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background: #db304a;
}

.btn-outline {
    border: 2px solid #c0bfc2;
}

.btn-outline:hover {
    border-color: #929296;
}

.dashboard {
    overflow-y: hidden;
}

.event-dashboard {
    display: flex;
}

.event-dashboard__sidebar {
    width: 270px;
    overflow-y: scroll;
    height: 100vh;
    background: #eeeeeea1;
    padding-bottom: 70px;
}

.event-dashboard__content {
    padding: 25px 10%;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 70px;
    flex: 1;
}

.event-dashboard__sidebar li {
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(29, 38, 54, 0.753);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.event-dashboard__sidebar li:hover {
    background: #eee;
    color: rgb(29, 38, 54);
}

li.event-dashboard__event-title {
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 400;
    color: rgb(29, 38, 54);
    border-top: 1px solid #e9e9e9;
    padding-bottom: 35px;
    cursor: default;
}

li.event-dashboard__event-title:hover {
    background: inherit;
}

.event-dashboard__event-type {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 20px;
    background: rgba(209, 209, 209, 0.493);
    border-radius: 20px;
}

.event-dashboard__event-type i {
    margin-right: 5px;
}

.event-dashboard__steps {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1d2636;
    color: #eee;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.event-dashboard__basic-info {
    display: none;
}