/* #f05537 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  border-bottom: 2.4px solid #ff4d28;
}

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav div {
  float: right;
}

.navitem:hover {
  background-color: #f0f0f0;
  color: black;
}

.topnav a.active {
  color: blue;
}

.card {
  margin: auto;
  flex: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  max-width: 20rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

#logo-font {
  font-family: 'Kaushan Script', cursive;
  color: #f05537;
  font-size: 1.5rem;
}

#logo {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

#searchBar {
  padding: 0.5rem;
  margin-top: 0.9rem;
  margin-left: 3rem;
  width: 20rem;
  font-Size: 0.8rem;
  font-weight: bolder;
  border: 0px;
  background-color: #f0f0f0;
}
#searchBar:focus {
  outline: none !important;
  border: 2px solid red;
  border-color: #00f;
}

.right {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.hovered {
  background-color: #fff;
  width: 15rem;
  border-bottom: 1px solid #ff4d28;
  transition: visibility 1s, opacity 1s linear;
}
.hovered:hover{
  background-color: #f0f0f0;
}
#event {

  /* background-image: url(http://www.influenceim.com/wp-content/uploads/2017/07/event-planningand-management-1024x683-750x350.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(50px);
  position: absolute;
  left: 0;
  top: 10rem;
  height: 270px;
  width: 100%
}

.emailtop {
  vertical-align: bottom;
  margin-top: 0.4rem;
}
.emailtop:hover{
  background-color: #f0f0f0;
}
.show-hidden:hover .hide {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  top: 3.4rem;
  right: 0rem;
  z-index: 2;
}

.price-bottom {
  vertical-align: bottom;
}

.card {
  max-width: 100%;
}

.eventImage {
  width: 67%;
}

.image-holder {
  display: flex;
}

.tags {
  border-style: solid;
  border-radius: 5rem;
  text-decoration: none !important;
  color: #000;
  padding: 0.2rem;
}

.tags:hover {
  color: #ff4d28;
}

.share-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.share-icons {
  flex: none;
  margin: 0.2rem;
  background-color: #a9a9a9;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.share-icons:hover{
  color: #ff4d28;
}
.share-icons i {
  vertical-align: bottom;
}

.line-event {
  border-bottom: 1px solid #000;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.hide-name {
  display: none;
}

.show-name: {
  padding: 2rem;
}

.show-name a {
  color: #aaa;
}

.show-name:hover .hide-name {
  display: block;
  position: absolute;
  background-color: #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 1rem;
}

.cards-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards-home li {
  max-width: 27%;
  flex: auto;
  list-style-type: none;
  margin: 2rem;
}

.add-event>textarea {
  margin: 0.3rem;
}

.event-image {
  width: 100%;
}

.modal {
  width: 70%;
  margin: 0 auto;
}

.modal-dialog {
  width: 50rem;
}

.event-description {
  width: 100%;
}

.event-detail {
  width: 100%;
}

#line {
  width: 100%;
  border-bottom: 1px solid #ff4d28;
}

#cardEvent {
  height: 26rem;
}

.bottomButton {
  text-align: right;
  float: right;
  margin-right: 1rem;
}

.changeEvent {
  width: 100%;
  padding: 1rem;
  text-align: end;
}

/* .changeEvent > i{
  float: right;
  padding: 1rem;
}
.changeEvent > a{
  float: right;
  padding: 1rem;
} */
#firstNavBar {
  float: left;
}

#searchBarNavBar {
  float: left;
}
#uniqueP{
  margin-top: 0;
  margin-bottom: 0rem;
}