.contaainerlogin {
    padding: 2px 0px;
}

.cardslogin {
    width: 40%;
    box-shadow: 0 4px 8px o rgba(65, 62, 62, 0.2);
    transition: 0.3s;
    margin-bottom: 2%;
    margin-top: 0%;
    margin-left: 30%;
}

.cardslogin {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    border-radius: 10px;
    align-self: center;
}

.cardslogin {
    border-radius: 10px 10px 0 0;
}

#logologin {
    color: #ff4d28;
    font-size: 30vh;
    text-align: center;
    margin-top: 20px;
}

#p_login {
    color: black;
    font-size: 5vh;
    text-align: center;
    margin-top: -150px;
}

#username-boxlogin {
    border: 0.5px solid rgb(189, 184, 184);
    width: 75%;
    padding: 12px;
    background-color: #F5FFFA;
    margin-left: 20px;
}

#password-boxlogin {
    /* border: 0.5px solid rgb(189, 184, 184); */
    width: 75%;
    padding: 12px;
    background-color: #F5FFFA;
    margin-left: 20px;
}

#loginbtn {
    width: 80%;
    padding: 12px;
    background-color: #ff4d28;
    color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
}

#loginbtn a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}


/* for footer */

.footer {
    background: #2b105e;
    color: rgb(231, 229, 225);
    padding-left: 3%;
    /* margin-top: 5%; */
    /* margin-top: 100%; */
    /* align-items: flex-end; */
    margin-top: 18%;
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#logofooter,
img {
    width: 3.8rem;
    height: 3.8rem;
}


/*  */


/* for contact page */

.row {
    display: flex;
    flex-wrap: wrap;
}

.sidenavbarr {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(248, 248, 248);
}

.sidenavbarr nav div ul {
    padding-top: 2rem;
    font-size: 15px;
    display: block;
}

.sidenavbarr #this {
    margin-top: 50px;
    margin-left: 15px;
    display: block;
}

.sidenavbarr #this li a {
    color: rgb(14, 13, 13);
    text-decoration: none;
    margin-top: 30px;
    margin-left: 40px;
    display: block;
    font-size: 20px;
}

.sidenavbarr #this a:hover {
    background: rgb(75, 82, 75);
    color: white;
}


/*  */

@media (max-width: 320px) {
    #psbtn {
        background: #ff4d28;
        color: white;
        width: 100%;
    }
    .cardslogin {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
        transition: 0.4s;
        border-radius: 10px;
        align-self: center;
        width: 15rem;
        font-size: 15px;
        margin-left: 30px;
    }
    .sidenavbar {
        width: 100%;
        height: fit-content;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(248, 248, 248);
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenavbar #this a:hover {
        background: rgb(75, 82, 75);
        color: white;
    }
    .contacts {
        margin-left: 1rem;
        font-size: 12px;
        display: block;
    }
}

@media (max-width: 768px) {
    .cardslogin {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
        transition: 0.4s;
        border-radius: 10px;
        align-self: center;
        width: 15rem;
        font-size: 15px;
        margin-left: 4rem;
    }
    .footer {
        background: #2b105e;
        color: rgb(231, 229, 225);
        padding-left: 3%;
        padding-left: 80%;
        margin-top: 18%;
        text-align: left;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .sidenavbar {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(248, 248, 248);
        overflow-x: hidden;
        padding-top: 20px;
    }
    .contacts {
        margin-left: 1rem;
        width: 10rem;
        font-size: 12px;
    }
    form {
        width: 18rem;
    }
}